#title{
    max-height: 150px;
    margin-bottom: 30px;
}

div.full-body{
    background-image: url("../images/blue-smoke.jpg");
    /* background-image: url("../images/blue-smoke.jpg"); */
    max-height: 1300px;
    max-width: 1200px;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:absolute;
    margin-left: auto;
    margin-right: auto;
    
}
.responsive{
    max-width: 100%;
    height: auto;

}
    
#hberg1:hover,
#hberg2:hover,
#hberg3:hover,
#hberg4:hover{

    image-rendering: crisp-edges;
    /* filter: contrast(160%); */
    filter: saturate(300%);
    }

    .flex-container {
        display: flex;
        background-color:transparent;
    }

.footer{
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #55aeae;
    position: sticky;
}
#hr1{
    margin-top: 100px;
}
.rules{
    text-align: Center;
}
#rand{
    font-size: 4em;
    text-align: center;
}
.score-board-cont{
    text-align: center;
    background-color: rgba(0, 200, 200, .1);
}
.copyright-me{
    text-align: center;
    color: rgba(0,0,0, .4)
}
